/*Change image appearance*/
img {
    border-radius: 8px;
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Change center class appearance*/
.center {
    text-align: center;
}

/*Change label appearance*/
label {
    display: inline-block;
    width: 150px;
}
